* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
html {
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 5px;
}

/* HOME SECTİON */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home div.name h2 {
    margin-bottom: 0.75rem;
}
#home div.name p {
    opacity: 0.6;
    font-style: italic;
}

/* Software */
#software {
    color: #fff;
    padding: 1rem;
}
#software .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#software .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#software .items .item:hover {
    opacity: 0.8;
}
/* Shopping - Products */
#shopping {
    color: #333;
    padding: 1rem;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}
.products .product {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    padding-bottom: 2rem;
    width: 33%;
}

.products .product .product-image {
margin-right: 0.5rem;
position: relative;
}

.products .product .product-image img {
    border-radius: 10px;
    width: 90%;
    height: auto;
    }
.products .product .product-image span {
    position: absolute;
    background: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 5px;
    bottom: 15px;
    left: 5px;
}
.products .product .product-info .price {
    padding: 0 30px;
    text-align: right;
}

/* Contact */
#contact {
    color: #fff;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;
}
#contact .contact-form ul li a:hover {
    opacity: 0.8;
}